@media (max-width: 767px) {

  // Stacked tables in certain views.
  .view-meeting-details.view-display-id-page > .view-content,
  .view-meeting-details.view-display-id-attachment_2,
  .view-meeting-details.view-display-id-attachment_3,
  .view-meeting-details.view-display-id-attachment_4,
  .view-meeting-details.view-display-id-attachment_5,
  .view-meeting-details.view-display-id-attachment_6,
  .view-meeting-details.view-display-id-attachment_7,
  .view-meeting-details.view-display-id-attachment_8,
  .view-meeting-details.view-display-id-attachment_9,
  .view-meetings-search,
  .view-kommende-m-der-i-mine-udvalg,
  .view-seneste-8-m-der-i-de-st-ende-politiske-udvalg- {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      padding: 0 !important;
      border: 3px solid $color-branding-secondary !important;

      + tr {
        margin-top: 10px;
      }
    }

    td {
      padding-top: 0 !important; /* Reset. */
      padding-bottom: 0 !important; /* Reset. */
      max-width: initial !important; /* Reset. */

      /* Behave  like a "row" */
      border: none;
      position: relative;
      padding-left: 35% !important;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 30%;
      white-space: nowrap;
    }

    /* Label the data */
    td:nth-of-type(1):before { content: "Udvalg"; }
    td:nth-of-type(2):before { content: "Dato"; }
    td:nth-of-type(3):before { content: "Punkt"; }
    td:nth-of-type(4):before { content: "Lokation"; }
  }

  // Meeting details.
  .view-meeting-details.view-display-id-page > .view-content,
  .view-meeting-details.view-display-id-attachment_2,
  .view-meeting-details.view-display-id-attachment_3,
  .view-meeting-details.view-display-id-attachment_4,
  .view-meeting-details.view-display-id-attachment_5,
  .view-meeting-details.view-display-id-attachment_6,
  .view-meeting-details.view-display-id-attachment_7,
  .view-meeting-details.view-display-id-attachment_8,
  .view-meeting-details.view-display-id-attachment_9 {

    table {
      margin-bottom: 10px !important;
      border: 0 !important;
    }

    td {
      margin: 2px 0;
    }

    td:before {
      top: 0;

      font-weight: bold;
    }

    /* Label the data */
    td:nth-of-type(1):before { content: "Møde"; }
    td:nth-of-type(2):before { content: "Startdato"; }
    td:nth-of-type(3):before { content: "Slutdato"; }
    td:nth-of-type(4):before { content: "Udvalg"; }

    tr {
      border: 0 !important;
    }

    .attachment {
      border-top: 10px solid #f7f1f1;
    }
  }

  .view-meeting-details.view-display-id-page > .view-content {

    table {
      margin-bottom: 0 !important;

      border-top: 6px solid #f7f1f1 !important;
    }
  }
  .view-meeting-details.view-display-id-attachment_2,
  .view-meeting-details.view-display-id-attachment_3,
  .view-meeting-details.view-display-id-attachment_4,
  .view-meeting-details.view-display-id-attachment_5,
  .view-meeting-details.view-display-id-attachment_6,
  .view-meeting-details.view-display-id-attachment_7,
  .view-meeting-details.view-display-id-attachment_8,
  .view-meeting-details.view-display-id-attachment_9 {

    table {
      border-top: 0 !important;
    }
  }

  .view-meeting-details.view-display-id-attachment_2 {
    td:nth-of-type(1):before { content: "Deltagere"; }
  }
  .view-meeting-details.view-display-id-attachment_4 {
    td:nth-of-type(1):before { content: "Afbud"; }
  }
  .view-meeting-details.view-display-id-attachment_5 {
    td:nth-of-type(1):before { content: "Bemærkninger"; }
  }

  // Better alignment of controls.
  .controls-left,
  .controls-right {
    display: inline-block;

    float: none !important;

    margin: 0 10px 5px 0 !important;

    a {
      display: inline-block;

      padding: 4px 14px !important;
      margin: 0 !important;
    }
  }
  .controls-right {
    position: static !important; // Reset.
    top: initial !important; // Reset.
    right: initial !important; // Reset.
  }

  // Bulletpoint.
  .view-meeting-details.bullet-point-attachments {
    border-top: 20px solid $color-body !important;

    .view-header {
      background-color: $color-body;

      h3 {
        margin: 0;
      }
    }

    // Attachments.
    .item-list {
      display: none !important;
    }

    table {
      margin-top: 10px;

      border-top: 3px solid $color-branding-secondary !important;

      tr {
        padding: 0 !important;
        border: 3px solid $color-branding-secondary !important;

        + tr {
          margin-top: 10px;
        }
      }

      td {

        .indicator-empty {
          display: none;
        }

        a {
          border: 0 !important;
          white-space: initial !important;
          overflow: initial !important;
          text-overflow: initial !important;

          font-weight: normal !important;
          line-height: 1.2 !important;
        }
      }

      td.views-field-php-4 {
        padding-right: 10px !important;
      }

      td.hide_show_button_container {
        display: none;
      }

      td.speaker-paper-link-container {
        width: 40px;

        a {
          font-size: 0 !important;
        }
      }

      td.send-bullet-point-link {

        a {
          font-size: 0 !important;
        }
      }
    }
  }

  // Bulletpoint attachment.
  .view-speaking-paper {

    table {

      table {

        button.hide_show_all_attachments_text,
        button.hide_show_attachment_text {
          display: none;
        }

        .ul-item-list-dagsordenspunkt {
          margin: 0;
          padding: 0;

          > li {
            margin-left: 0 !important;
            padding-left: 0 !important;

            a {
              padding: 0 !important;
              margin: 0 !important;

              border: 3px solid $color-branding-secondary !important;
              border-radius: 3px !important;

              white-space: initial !important;
              overflow: initial !important;
              text-overflow: initial !important;

              font-weight: normal !important;
            }
          }
        }

        .item-list-dagsordenspunkt {
          padding-left: 0 !important;
        }
      }
    }
  }

  // Topbar navigation.
  .section-header {

    .zone-branding-wrapper {
      padding-top: 10px;
      padding-bottom: 0;
    }

    .region-branding {
      display: none;
    }

    .block-user-logout-menu-block {
      display: none;
    }

    #block-block-1,
    #block-block-3 {
      text-align: right;
      top: 0;
      float: none;
    }
    #show_hide_menu_button {
      position: relative;
    }
  }

  .section-header {
    display: none !important;
  }

  .responsive-header {
    display: block !important;

    padding: 10px;

    text-align: right;

    background-color: $color-branding-primary;
  }

  .responsive-button {
    display: inline-block;
    font-size: $font-size-button;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    line-height: 1.1;

    background-color: $color-branding-secondary;

    .material-icons {
      color: #fff;
    }
  }
  .responsive-button--sidr-toggle {}
  .responsive-button--search {}

  .sidr {

    ul li a {

      .material-icons {
        margin-top: 12px;
        margin-right: 5px;

        float: left;
      }
    }
  }
}

.sidr-source-provider {
  display: none;
}
.responsive-header {
  display: none;
}
