body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #000; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 28px; }

h3 {
  margin-bottom: 3px;
  font-size: 24px; }

h3:first-child {
  margin-top: 0; }

.no-print,
.no-print * {
  display: none !important; }

.tip-darkgray {
  display: none !important; }

.annotator-notes {
  margin-top: 20px; }
  .annotator-notes h1.title {
    background: none;
    border: none;
    padding-left: 0;
    font-size: 16px;
    text-transform: none; }
    .annotator-notes h1.title .bp-title {
      padding-left: 50px; }
  .annotator-notes .annotator-non-bilags-notes .annotator-note:last-child div.annotator-note-text,
  .annotator-notes .annotator-notes .annotator-bilags-notes .annotator-note:last-child div.annotator-note-text {
    border-bottom: none; }

.annotator-note {
  padding-left: 30px;
  padding-top: 5px;
  display: block; }
  .annotator-note div {
    display: inline-block; }
    .annotator-note div.annotator-note-index {
      vertical-align: top; }
  .annotator-note.annotator-note-text {
    border-bottom: 1px solid;
    vertical-align: top;
    width: 95%;
    margin: auto;
    vertical-align: middle;
    position: relative;
    padding-left: 10px;
    padding-bottom: 10px; }
  .annotator-note.annotator-note-text .note-text {
    display: inline-block;
    padding-left: 45px; }
  .annotator-note.annotator-note-text .annotator-note-text-block {
    width: 90%; }
  .annotator-note.annotator-note-link {
    padding-right: 10px;
    vertical-align: middle;
    position: absolute;
    right: 0; }
