#os2dagsorden-create-agenda-meeting .container-inline-date .form-item,
#os2dagsorden-create-agenda-meeting .container-inline-date .form-item input,
#os2dagsorden-create-agenda-meeting-simple .container-inline-date .form-item,
#os2dagsorden-create-agenda-meeting-simple .container-inline-date .form-item input {
  width: auto;
  padding-left: 5px;
}

#os2dagsorden-create-agenda-meeting .container-inline-date,
#os2dagsorden-create-agenda-meeting-simple .container-inline-date {
  clear: none;
  float: left;
}
html body {
  min-width: 0px !important;
}

#region-page-top,
#section-header,
#breadcrumb,
#region-sidebar-first,
#region-sidebar-second,
#zone-user-wrapper,
#zone-menu-wrapper,
#section-footer,
#zone-postscript-wrapper {
  display: none;
}
.region-content {
  width: 100% !important;
}
.field-autoupload .plupload_button.plupload_start {
  display: none;
}
